@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --arg-light-blue: #74acdf;
  --arg-gold: #f6b40e;
  --arg-dark-blue: #00355e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-arg-lightblue: var(--arg-light-blue);
  --color-arg-gold: var(--arg-gold);
  --color-arg-darkblue: var(--arg-dark-blue);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
