.red {
  background-color: red;
}

.header {
  background-color: transparent;
  padding: 10px;
  nav {
    display: flex;
    align-items: center;
    img {
      border-radius: 100%;
      height: 50px;
      padding: 0 10px;
    }
    ul {
      display: flex;
      gap: 10px;
      li {
        list-style: none;
        a {
          color: #FFF;
          text-decoration: none;
        }
      }
    }
  }
}

/* game */

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  .card {
    background-color: #444;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    &.inactive {
      opacity: 0.5;
    }
    img {
      margin: 20px 0;
      width: 200px;
      border-radius: 100%;
    }
  }
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
  }
}