/* general */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  h1 {
    margin-bottom: 20px;
  }
  button {
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 5px;
    color: #fff;
    &:hover {
      transition: 0.2s ease-in-out;
      background-color: #fff;
      color: #000;
      cursor: pointer;
    }
  }
}

/* _index */

.content {
  width: 80%;
  text-align: left;
  span {
    font-weight: 600;
  }
}
